{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true)
%}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="post">
    <input type="email" name="email" placeholder="Почта">
    <input type="password" name="password" placeholder="Пароль">
    <input type="submit" value="Отправить">
</form>
<a href="/registration/" class="nav-link">Регистрация</a>

{% endblock %}