{% extends 'base.html' %}


{% block title %}
{{ title }} - Регистрация
{% endblock %}


{% block content %}
<form method="POST" action="{{ url_for('registration') }}">
    {{ form.csrf_token }}
    <p>
        {{ form.fname.label }}<br>
        {{ form.fname(size=32) }}
    </p>
    <p>
        {{ form.lname.label }}<br>
        {{ form.lname(size=32) }}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
</form>
{% endblock %}